body{
    background-image: url(https://www.xtrafondos.com/wallpapers/vertical/neon-azul-y-amarillo-3464.jpg);
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
   background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}
h1{
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(0, 174, 255);
}
h2{
    text-align: start;
    padding-left: 30px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: aqua;
}
p{
    text-align: start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20PX;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.7);
}
label{
 
    color: wheat;
    font-size: 30px;
    padding-top: 20px;
}
input[type="number"]{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(243, 77, 0);
    color: white;
}
button{
    font-size: 30px;
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(231, 94, 2);
    border: solid 2px rgba(255, 0, 0, 0.226);
}
div{
    font-size: 30px;
    text-align: center;
    color: rgb(245, 179, 179);
    background-color: rgba(0, 0, 0, 0.7);
}
::placeholder{
   color: rgba(255, 255, 255, 0.829); 
   font-size: 16px;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: rgb(251, 251, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.349);
}
.menu li:hover{
    background-color: #502400;
}
.menu li{
    border: 2px solid #ffffbf;
    border-radius: 10px;
    padding: 2px;
}
button:hover{
    background-color: chocolate;
    color: white;
    border: solid 2px rgb(255, 255, 255);
}
input:hover{
    background-color: rgba(255, 102, 0, 0.932);
    border: solid 2px rgb(255, 255, 255);
}